.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.row-editor {
  display: flex;
  flex-direction: column;
}

.ck-comment__content p, .ck-annotation__content-wrapper p {
  text-align: left;
}

@media (min-width: 768px) {
  .row-editor {
    flex-direction: row;
    position: relative;
  }

  .ck.ck-editor {
    max-width: calc(100% - 300px);
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 300px;
    bottom: 0;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
